.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand
        GLIDE
      .nav-collapse.collapse
        %ul.nav
          %li
            %a
              Home
        %ul.nav.pull-right
          %li= link_to "Upload", upload_users_path
          %li
            - if user_signed_in?
              = link_to "Logout", destroy_user_session_path, :method => :delete
            - else
              = link_to "Login", new_user_session_path
