.map-container
  .main-control-group.clearfix
    .container
      %form.form-inline
        %fieldset
          %label
            Select area
          %select
            %option{ :selected => "selected" }
              All Areas
            %option
              Cebu City
            %option
              Toledo
            %option
              Naga
            %option
              Carcar
        %fieldset
          %label
            Expiring in:
          %select
            %option{ :selected => "selected" }
              30 days
            %option
              2 months
            %option
              6 months
        %fieldset.pull-right.main-control-actions
          %a.btn
            %i.icon-print
          %a.btn
            %i.icon-external-link
  / %iframe{:frameborder => "0", :height => "400", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=restaurants+in+cebu&aq=&sll=37.0625,-95.677068&sspn=44.25371,81.386719&ie=UTF8&hq=restaurants&hnear=Cebu+City,+Cebu,+Central+Visayas,+Philippines&t=m&fll=10.331976,123.908443&fspn=0.053956,0.079479&st=109146043351405611748&rq=1&ev=zi&split=1&ll=10.337612,123.896724&spn=0.053956,0.079479&output=embed", :width => "100%"}

.main-stats
  .container
    .row
      .span12
        %h3
          Cebu City
      .span4
        %strong
          5,343
        gun owners
      .span4
        %strong
          324
        expiring in 30 days
      .span4
        %strong
          42
        expired licenses





