.hero-unit
  .container
    %h1
      The easiest way to renew your gun license online
    %p
      This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    %form.main-form
      %fieldset
        %label
          %strong
            Enter your gun serial number
        %input.large.no-border{ :type => "text" }
        %button.button.large{ :type => "submit" }
          Next
%button.button.green{ :type => "submit" }
  Next


