.container
  .row
    .content
      %form.form-inline
        .form-section
          %h3 Verify your account
          %p
            Enter your verification code you received via SMS.
          .clearfix
          %fieldset
            
            %input.med{ :type => "text" }
            %input.green{ :type => "submit", :value => "Verify" }
          
            
          
        