.container
  .main-control-group
    .padding
      %h3
        Upload .xls
      = form_for @upload,  :url => admin_uploads_path, :html => { :multipart => true } do |f|
        = f.file_field :sheet
        = f.button :type => "submit", :class => "button green"
