button, a.button
  cursor: pointer
  display: inline-block
  vertical-align: middle
  outline: none
  border: none
  background-color: #e1e1e1
  padding: 7px 10px
  font-size: 14px
  font-style: normal
  text-align: center
  text-decoration: none
  border-radius: 3px
  color: #616161
  -webkit-transition: all .2s
  -moz-transition: all .2s
  -ms-transition: all .2s
  -o-transition: all .2s
  transition: all .2s
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box
  &:active
    background-color: darken(#e1e1e1, 5%)

    
  &.large
    font-size: 18px
    padding: 10px 20px
  &.green
    background-color: #39c36d
    color: #fff
    &:active
      background-color: darken(#39c36d, 5%)
  
  