form
  &.form-inline
    fieldset
      display: inline-block
      margin-right: 15px
input[type=text], input[type=password], select, input[type=file]
  border-radius: 3px
  padding: 6px 7px
  border: 1px solid #ccc
  vertical-align: middle
  box-sizing: border-box
  -moz-box-sizing: border-box
  display: inline-block
  font-size: 14px
  min-width: 220px
input[type=text]
  &.large
    padding: 11px
    font-size: 18px
    
  &.no-border
    border: none
select
  background-color: #fff
  border: 1px solid #ccc
  height: 30px
  line-height: 30px

label
  &.block
    display: block
